article {
    background-image: url("photo/pexels-photo-258109.jpeg");
    width: 90%;
    background-clip: padding-box;
    background-size: cover;
    overflow: hidden;
}
.Content {
    width: 65%;
}

.Rightcontent {
    width: 25%;
}
.Content_1 {   
    display: block;
    height: 15rem;
    overflow: hidden;
    margin-left: 5%;
    
}

.Content_2 {    
    display: block;
    height: 15rem;
    overflow: hidden;
    margin-left: 5%;
}
.Rightcontent1 {
    display: block;
}
.Rightcontent2 {
    display: block;
}
.content_Title {
    margin-left: 5%;
}
@media only screen and (max-width:600px) {
    .Content, .Rightcontent {
        width: 100%;
    }
   
    .Content_1, .Content_2, .Rightcontent1, .Rightcontent2, .content_Title {
        width: 100%;
        margin-left: 0;
    }

}